---
import Layout from "@layouts/Layout.astro";
import Person from "@components/Person.astro";
import AddPerson from "@components/AddPerson.astro";
import Logo from "@components/Logo.astro";
import RoomTitle from "@components/RoomTitle.astro";
import { turso } from "../../turso";

const { roomId } = Astro.params;
if (!roomId) throw new Error("Room ID is undefined");

const { rows } = await turso.execute({
  sql: "SELECT * FROM Room WHERE id = ?",
  args: [roomId as string],
});
let roomName = roomId as string;
if (rows.length === 0) {
  turso.execute({
    sql: "INSERT INTO Room (id, name, alterDate) VALUES (?,?,?)",
    args: [roomId as string, roomId as string, new Date()],
  });
} else {
  roomName = rows[0].name as string;
  turso.execute({
    sql: "UPDATE Room SET alterDate = ? WHERE id = ?",
    args: [new Date(), roomId as string],
  });
}
---

<Layout title="Your turn">
  <div class="flex items-center space-x-4">
    <a href="/"><Logo width={100} height={100} /></a>
    <h1 class="text-2xl font-bold" id="room-name"><RoomTitle>{roomName}</RoomTitle></h1>
  </div>
  <div class="space-y-4">
    <Person id="1" yourTurn={true}>Kevin</Person>
    <Person id="2" yourTurn={false}>Desi</Person>
    <Person id="3" yourTurn={false}>Alex</Person>
    <AddPerson />
  </div>
  <input type="hidden" value={roomId} id="room-id" />
</Layout>

