---
import Layout from "@layouts/Layout.astro";
import Person from "@components/Person.astro";
import AddPerson from "@components/AddPerson.astro";
import Logo from "@components/Logo.astro";
import RoomTitle from "@components/RoomTitle.astro";
import { turso } from "../../turso";

const { roomId } = Astro.params;
if (!roomId) throw new Error("Room ID is undefined");

const { rows: rooms } = await turso.execute({
  sql: "SELECT * FROM room WHERE id = ?",
  args: [roomId as string],
});
let roomName = roomId as string;
let pageTitle = "Your turn";
if (rooms.length === 0) {
  turso.execute({
    sql: "INSERT INTO room (id, name, alter_date) VALUES (?,?,?)",
    args: [roomId as string, roomId as string, new Date()],
  });
} else {
  roomName = rooms[0].name as string;
  pageTitle = roomName + " - Your turn";
  turso.execute({
    sql: "UPDATE room SET alter_date = ? WHERE id = ?",
    args: [new Date(), roomId as string],
  });
}

const { rows: peopleData } = await turso.execute({
  sql: "SELECT id,name,position FROM person WHERE room_id = ? order by position",
  args: [roomId as string],
});
---

<Layout title={pageTitle}>
  <div class="flex items-center space-x-4">
    <a href="/"><Logo width={100} height={100} /></a>
    <RoomTitle roomId={roomId}>{roomName}</RoomTitle>
  </div>
  <div class="space-y-4">
    {peopleData.map((person=>(<Person id={person.id as string} yourTurn={false}>{person.name as string}</Person>)))}
  </div>
  <div class="mt-4">
    <AddPerson />
  </div>
  <div id="people-data" data-people={JSON.stringify(peopleData)}></div>
  <script>
    import { people } from "../../store.ts";
    import type { PersonDto } from "../../personDto.ts";

    const peopleElement = document.getElementById('people-data') as HTMLElement;
    if (peopleElement) {
      const peopleFromServer: PersonDto[] = JSON.parse(peopleElement.dataset.people as string);
      people.set(peopleFromServer);
    }

  </script>
</Layout>